body {
    background-color: #889;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header img {
    width: 340px;
    height: auto;
    border-radius: 50%;
}

nav {
    position: relative;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    color: #ff8800;
    border-radius: 10px;
}

.footer-icons img {
    width: 50px;
    height: 50px;
}

.colored {
    color: #ffe1be;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 1rem 0;
}

.toggle-view {
    padding-top: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

#member-container {
    margin: auto auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 200px;
}

#member-container.list-view {
    display: block;
}

#member-container.list-view div {
    margin-bottom: 10px;
}

.member-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member-card:hover {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.member-card img {
    height: 50px;
    width: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.member-card h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.member-card p {
    margin: 5px 0;
}

.member-card a {
    color: #334;
    text-decoration: none;
}

.toggle-view {
    text-align: center;
}

.toggle-view button {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    background-color: #335;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.toggle-view button:hover {
    background-color: #556;
}

#main-grid {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    margin-bottom: 160px;
}

figcaption {
    font-size: 12px;
}

#photos {
    grid-column: 2/3;
    grid-row: span 2;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #CCC;
    overflow: hidden;
}

#photos img {
    width: 90%;
    height: auto;
    transition: width 1.5s ease-in-out;
}

#welcome-message {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #CCC;
    height: auto;
    box-sizing: border-box;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    word-wrap: break-word;
}

.demographics-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #CCC;
    margin-bottom: 20px;
}

#discover-events {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #CCC;
    margin-bottom: 20px;
}

.demographics-container, #discover-events h2 {
    text-align: center;
}
.demographics-item {
    margin: 10px 0;
}
.demographics-item span {
    font-weight: bold;
}

#calendar {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #CCC;
}

.month {
    text-align: center;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 0;
}

.weekdays div {
    text-align: center;
    width: 2em;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.days div:hover {
    background-color: #e0e0e0;
}

@media (max-width: 769px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        max-height: 0;
    }

    nav.active ul {
        display: flex;
        max-height: 300px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }

    nav li {
        margin: 0.5rem 0;
    }
    #welcome-message {
        font-size: 3vw;
    }

    #main-grid {
        grid-template-columns: 80%;
        margin-bottom: 160px;
    }

    #photos {
        grid-column: 1/2;
    }

    #main-grid {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-content: center;
        margin-bottom: 500px;
    }

}

@media (min-width: 769px) {

    header {
        justify-content: flex-start;
    }

    header img {
        margin-right: auto;
    }

    nav {
        justify-content: flex-end;
    }

    nav ul {
        margin-left: auto;
    }

    nav li {
        margin: 0;
        margin-left: 1rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-top: 1px solid #ccc;
    }

    #left-footer, #right-footer {
        flex: 1;
    }

    .footer-icons {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    nav li {
        display: inline;
        margin: 0 1rem;
    }

    #photos img:hover {
        width: 100%
    }


}

@media (max-width: 1500px) {
    #member-container {
        grid-template-columns: 1fr 1fr;
    }
    #welcome-message {
        font-size: 2vw;
    }
}

@media (max-width: 1000px) {
    #member-container {
        grid-template-columns: 1fr;
        padding-bottom: 400px;
    }

    button {
        display: none;
    }
    #welcome-message {
        font-size: 2.5vw;
    }
}
